{% load cache %}
{% cache 600 resume_detail %}
{% endcache %}

<h1>Personal Resume</h1>

<div>Name: {{ object.username }} </div>
<div>City: {{ object.city }}</div>
<div>Phone: {{ object.phone }}</div>

<p></p>
<div>Email: {{ object.email}}</div>
<div>Position: {{ object.apply_position}}</div>
<div>Born Address: {{ object.born_address}}</div>
<div>Gender: {{ object.gender}}</div>
<hr>

<div>Undergraduate University or College: {{ object.bachelor_school}}</div>
<div>Undergraduate GPA: {{ object.bachelor_GPA}}</div>
<p></p>
<div>Graduate University or College: {{ object.master_school}}</div>
<div>Graduate GPA: {{ object.master_GPA}}</div>
<p></p>
<div>Phd University or College: {{ object.doctor_school}}</div>
<div>Phd GPA: {{ object.doctor_GPA}}</div>
<p></p>
<div>Major: {{ object.major}}</div>
<div>Degree: {{ object.degree}}</div>
<hr>

<p>Self Introduction: {{ object.candidate_introduction}}</p>
<p>Work Experience: {{ object.work_experience}}</p>
<p>Project Experience: {{ object.project_experience}}</p>