body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftTop{
  background: grey;
  display: inline-block;
  width: 30%;
  height: 40vh;
  vertical-align: top;
}

.middleTop{
  background: #333333;
  display: inline-block;
  width: 40%;
  height: 30vh;
  vertical-align: top;
}

.rightTop{
  background: blue;
  display: inline-block;
  width: 30%;
  height: 40vh;
  vertical-align: top;
}

.leftButtom{
  background: yellow;
  display: inline-block;
  width: 30%;
  height: 40vh;
  vertical-align: top;
}

.middleButtom{
  background: rebeccapurple;
  display: inline-block;
  position: relative;
  width: 40%;
  height: 50vh;
  top: -10vh;
  vertical-align: top;
}

.rightButtom{
  background: red;
  display: inline-block;
  width: 30%;
  height: 40vh;
  vertical-align: top;
}

.num{
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  font-size: 7vw;
}

.txt{
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3vw;
}